@font-face {
  font-family: norse;
  src: url(./assets/fonts/Norse-Bold.otf);
  font-weight: bold;
}

:root,
*,
*::after,
*::before {
  --create-account-btn-clr: #596d48;
  --input-border-clr: #e5e7eb;
  --input-border-clr-invalid: #ff0000;
  --input-border-clr-focused: #0000ff; /* should have a little box-shadow as well */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  display: flex;
}

.sidebar {
  width: 35%;
  background: no-repeat url(./assets/images/halie-west-25xggax4bSA-unsplash.jpg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}

.main {
  width: 65%;
  height: 100vh;
}

.brand-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding-block: 15px;
  margin-top: 250px;
  width: 100%;
  flex-wrap: wrap;
}

.brand-logo {
  width: 15%;
  min-width: 80px;
}

.brand-name {
  color: #ffffff;
  font-family: norse;
  font-size: 6rem;
  font-weight: bold;
}

.sidebar-footer,
.sidebar-footer > a {
  color: #ffffff;
}

.sidebar-footer {
  text-align: center;
}
